.text-main {
    font-family: 'Whitney Bold';
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.2rem;
    font-weight: 800;    
    letter-spacing: 3px;

    @media (min-width: 768px) { 
        font-size: 2rem;
 
     }
    @media (min-width : 1024px) {
        font-size: 2rem;


    }

    

}