.hero {
    background-color: #404eed;
    width: 100%;
    height: 130vh;
    position: relative;
    padding: 1.2rem;
    overflow: hidden;

    @media (min-width: 768px) { 
        height: 100vh;
        padding: 2rem;

    }

    @media (min-width : 1024px) {
        height: 120vh;

    
    }
    @media(min-width: 1280px) {
        height: 80vh;

    }



}
.textContainer{
    z-index: 2;

    @media (min-width: 768px) { 
        width: 65%;

    }

    @media (min-width: 1024px) {
        width: 100%;
    }
}
.text__main {
    font-family: 'Whitney Bold';
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 2rem;
    font-weight: 800;    
    color: #ffff;
    line-height: 95%;
    text-transform: uppercase;
    text-rendering: geometricPrecision;

    @media (min-width: 640px) { 
        font-size: 2rem;

     }

    @media (min-width: 768px) { 
        font-size: 3rem;

    }

    @media (min-width : 1024px) {
        font-size: 4.5rem;

    }

}
.text__sub {
    font-family: 'Whitney Light Regular';
    font-size: clamp(16px,2vw,20px);
    line-height:  1.625;
    color: #ffff;

}

.imageCointaner{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.image1{
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    height: auto;
    width: 600px;
    margin-left: -300px;
    -webkit-transform: none;
    transform: none;
    z-index: 1;
    
    @media (min-width: 768px) { 
        display: none;
 
     }
    @media (min-width : 1024px) {
    margin-left: -1030px;
    display: block;
    height: auto;
    width: auto;

    }

}
.image2{
    position: absolute;
    bottom: 0;
    z-index: 0;
    height: auto;
    width: auto;
    max-width: none;
    -webkit-transform: none;
    transform: none;
    margin-left: -500px;
    display: none;

    @media (min-width: 768px) { 
        display: block;
        margin-left: -900px;

    }

    @media (min-width : 1024px) {
        display: block;
        margin-left: -800px;

    }
    @media(min-width : 1280px) {
        display: block;
        margin-left: -500px;
    }
    
}
.image3{
    position: absolute;

    display: hidden;
    bottom: 0;
    left: 50%;
    margin-left: 370px;
    @media (min-width: 768px) { 
        display: block;
        margin-left: -70px;


    }
    @media (min-width : 1024px) {
        display: block;
        bottom: 0;
        left: 50%;
        margin-left: 370px;
    }

}