.dasboard-friend{
    flex: 1;
    height: 100vh;
    background-color: #36393f;

}

.dasboard-header{
    display: flex;
    flex-direction: row;
    border-bottom: 1.5px solid #303237;

    
  
}

.dasboard-icon {
    color : #72767d
}

.textIcon{
    font-family: 'Whitney Bold';

    font-weight: 600;
    font-size: 1rem;
    letter-spacing:2px;
}

.borderHeader{
    width: 2px;
    height: 24px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    background-color: #2d3034;

}


.ActiveMenu{
    background-color: #3e4249;
    border-radius: 5px;
    color: #fff
}
.nonActiveMenu{
    color: #b1b3b6

}

.headerMenuButton {
    background-color: #3ca35c
    ;
   
    border-radius: 5px;
}

.activeUser{
    border-left: 2px solid #3b3e44;
    height: 100%;
}

.imageNoUser{
    width: 30rem;
    height: 25rem;
}