.footer{
    background-color: #23272A;
    width: 100%;
}

.text-main{
    font-size: 2rem;
    color: #5865f2;

    @media (min-width: 768px) { 
      

    }

    @media (min-width : 1024px) {
    


    }
    @media(min-width : 1280px) {
     

    }
}